<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-simple"/>
        <listEntry value="archetypeVersion=1.5"/>
        <listEntry value="groupId=practica.1"/>
        <listEntry value="artifactId=tania-junit-app"/>
        <listEntry value="version=1"/>
        <listEntry value="package=practica.tania_junit_app"/>
        <listEntry value="outputDirectory=C:\proyectoprogramacion2,20243"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\TANIAS~1\AppData\Local\Temp\m2e-archetypeGenerator10825080201492677991"/>
</launchConfiguration>
